body{
    font-family: 'DM Serif Display', serif;
    background-color: #89bce1;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    text-shadow: 15px 15px 3px;
}
h3{
    font-size: 15px;
    margin-left: 10px;
}
.space-nav-top{
    margin-top: 200px;
}
button{
    border-radius: 10px;
    background-color: #b8dcef;
    border-color: black;
    border: 2px solid;
    box-shadow: 10px 5px 5px black;
    font-family: 'DM Serif Display', serif;
    font-size: 16px;
    padding: 6px 10px 9px 10px;
    margin-left: 20px;
    margin-right: 20px;
    transition: linear 0.2s;
}
.btn:hover {
    background-color: #bbeeff;
    box-shadow: 0px 0px 0px black;
    border-color: #bbeeff;
  }
  
.btn-cart{
border-radius: 10px;
background-color: #b8dcef;
border-color: black;
border: 2px solid;
box-shadow: 10px 5px 5px black;
font-size: 16px;
transition: linear 0.2s;
}
.btn-cart:hover{
    background-color: #bbeeff;
    box-shadow: 0px 0px 0px black;
    border-color: #bbeeff;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.top-body{
    box-shadow: 10px 5px 5px #003953;
    background-color: #bbeeff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 25px;
}
.td-center{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.images-top{
    padding-right: 2px;
    margin-top: 15px;
    margin-left: 15px;
    border: 5px solid;
    border-radius: 53px;
}
.images-me{
    margin-left: 5px;
    margin-right: 15px;
    border-radius: 100px;
    width: 350px;
}
.texte-index{
    padding: 20px;
    padding-top: 8px;
    background-color: #80aecf;
    border-radius: 15px;
}
.men-img{
    width: 25%;
    border-radius: 15px;
    float: right;
    vertical-align: middle;
}
.newtons-cradle {
    --uib-size: 50px;
    --uib-speed: 1.2s;
    --uib-color: #474554;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--uib-size);
    height: var(--uib-size);
    margin-top: 25px;
    margin-right: 35px;
    float: right;
    vertical-align: middle;
   }
   
   .newtons-cradle__dot {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    transform-origin: center top;
   }
   
   .newtons-cradle__dot::after {
    content: '';
    display: block;
    width: 100%;
    height: 25%;
    border-radius: 50%;
    background-color: var(--uib-color);
   }
   
   .newtons-cradle__dot:first-child {
    animation: swing var(--uib-speed) linear infinite;
   }
   
   .newtons-cradle__dot:last-child {
    animation: swing2 var(--uib-speed) linear infinite;
   }
   
   @keyframes swing {
    0% {
     transform: rotate(0deg);
     animation-timing-function: ease-out;
    }
   
    25% {
     transform: rotate(70deg);
     animation-timing-function: ease-in;
    }
   
    50% {
     transform: rotate(0deg);
     animation-timing-function: linear;
    }
   }
   
   @keyframes swing2 {
    0% {
     transform: rotate(0deg);
     animation-timing-function: linear;
    }
   
    50% {
     transform: rotate(0deg);
     animation-timing-function: ease-out;
    }
   
    75% {
     transform: rotate(-70deg);
     animation-timing-function: ease-in;
    }
}
.image-text{
    display: inline-flex;
}
   